﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-3" style="margin-top: 20px; height: 50px;">
		@Html.ActionLink("FIRE", "SendFire", "Home", null, new { id = "SendFire", @class = "btn btn-primary", style = "width: 100%; height: 100%;font-weight: bold;" })
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="well well-lg" id="FireLog" style="height: 400px; width: 100%; overflow-y: auto; margin-top: 20px;">
		</div>
	</div>
</div>

@section scripts
{
	<script type="text/javascript">
		$(function (e) {

			$("#SendFire").on("click", function (e) {
				e.preventDefault();

				$.ajax({
					url: this.href,
					cache: false,
					beforeSend: function () {
					}
				}).done(function (resp) {
					var html = resp + "<br />" + $("#FireLog").html();
					$("#FireLog").html(html);
				}).always(function () {
				});

				return false;
			});
		});
	</script>
}